BODY {background-color: greenyellow}
A:link {color: black ; text-decoration: none}
A:active {color: black ; text-decoration: none}
A:visited {color: black ; text-decoration: none}

div.absolute {
  position: absolute;
  width: 50%;
  bottom: 10px;
} 