BODY {background-color: #004630; font-family: Arial, Helvetica, sans-serif;}
A:link {color: white ; text-decoration: none}
A:active {color: black ; text-decoration: none}
A:visited {color: white ; text-decoration: none}

div.absolute {
  position: absolute;
  width: 50%;
  bottom: 10px;
} 

ul#links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #006445;
  width: 100%;
}

ul#links li {
  float: left;
}

#idk_bro {
  position: absolute;
  top: 7%;
  left: 5%;
}

ul#links li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
}

ul#links li a:hover {
  background-color: none;
  color: #d9fd49;
}

ul#some_shit {
  color: white;
  list-style-type: none;
}

body {
  margin: 0;
  padding: 0;
}
h1, h2, h3, p, ul {
  color: white;
  text-align: center; 
}

p {
  color: white;
  padding:0px; 
  margin:0px;
}
